body {
    margin: 0 auto;
    position: relative;
    background:rgb(188, 215, 255);
    
}
/* header {
    width: 18em;
} */
#homeHeader {
    padding: .5em .5em;
    display: flex;
    background: rgba(17, 22, 88,.6);
    width: 26em;
}

#teamHeader {
    padding: .5em .5em;
    display: flex;
    background: rgba(17, 22, 88,.6);
    width: 26em;
    
}


a:active {
    background-color: white;
    color: black;

}
 
a:hover {
    transform: scale(1.15);
    border: 2px solid black;
}
a {
    border: 1px solid black;
    border-radius: 50px;
    padding: 2.5em 1em .5em 1em;
    color: white;
    text-decoration: none;
    transition: transform 1s;
    background: rgb(216, 226, 241);

}
.teamTitle .wordGreen {
    font-size: 2em;
}

.teamTitle .wordBlue {
    font-size: 2em;
}
.wordBlue:hover {
    color:green;
}

.wordGreen:hover {
    color:blue; 
}

.wordBlue {
    color:blue;
}

.wordGreen {
    color:green;
}





.title {
    text-align: center;
    font-size: 3em;
    border: 2px solid darkblue;
    border-radius: 33px;
    font-family: 'Josefin Sans', sans-serif;
    background: rgb(216, 226, 241);
    z-index: 1;
    opacity: .7;
    padding: .25em;
    margin: 0 auto;
    width: fit-content;
    position: absolute;
    top: .5em;
    left: 18em;
    display: inline-block;


}
#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
#myBtn:hover {
    background: #ddd;
    color: black;
  }

#windBladeVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -10;
}
#sunriseVideo {
    width: 100vw;
    height: 100vh;
    display: block;
}
    

.video-container {
    top: 0;
    position: absolute;
    z-index: -10;
    margin: auto;
}


.content-boxes {
    position: relative;
    top: 10vh;

    z-index: 2;
    margin: 0 auto;
    background: rgba(7, 21, 41, 0.8);
    padding: 25px 20px;
    color: white;
    box-shadow: -5px 8px black;
    
}

.box-container {
    display: flex;
    width: fit-content;
    flex-direction: column;
    z-index: 1;
    
}

.pictures-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 4em;
    width: 100%;
    justify-content: space-evenly;
}
.picture-container {
    position: relative;
    display: flex;
    width: 15%;
    margin: auto;
    padding: 3em 8em;
    z-index: 2;
  }
  
.avatarImage {
    display: block;
    width: 12em;
    z-index: 4;
}
  
.overlay {
    display: block;
    position: absolute;
    bottom: 3em;
    height: 12em;
    width: 12em;
    z-index: 0;
    background-color: #008CBA;
    opacity: 1;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content {
    padding-top: 60px;
}

#more {display: none;}
#more1 {display: none;}  
.text {
    color: white;
    font-size: 15px;
    position: absolute;
    overflow: hidden;
    width: 9em;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 1;  
}

footer {
    position: absolute;
   
    color: black;
    font-size: 20px;
    left: 50%;
    margin: 1em 1em;
    
}


@media(max-width: 700px) {
    .title {
        font-size: 2rem;
        position: absolute;
        top: 24%;
        left: 50%;
    }
    .section {
        width: 100%;
        height: 100vh;
    }
   
    .video-container {
        position: absolute;
        width: 100%;
        top: 0em;
        left: -18em;
    }
    .box-container {
        display: flex;
        flex-direction: column;
    }

    nav {
        position: fixed;
        display: flex;
        top: 10%;
        left: 50%;
        z-index: 2;
    }
}