body {
    margin: 0 auto;
    display: inline-block;
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 3;
    margin: 0;
   
    
}
header {
    position:static;
    padding: .5em 0em;
    display: block;
    background: rgba(17, 22, 88,.6);
}


a:active {
    background-color: white;
    color: black;

}
 
a:hover {
    transform: scale(1.15);
    border: 2px solid black;
}
a {
    border: 1px solid black;
    border-radius: 50px;
    padding: 5px;
    color: white;
    text-decoration: none;
    transition: transform 1s;
    background: rgb(216, 226, 241);

}
.teamTitle .wordGreen {
    font-size: 2em;
}

.teamTitle .wordBlue {
    font-size: 2em;
}
.wordBlue:hover {
    color:green;
}

.wordGreen:hover {
    color:blue; 
}

.wordBlue {
    color:blue;
}

.wordGreen {
    color:green;
}





.title {
    text-align: center;
    font-size: 5rem;
    border: 30px solid transparent;
    border-radius: 45px;
    font-family: 'Josefin Sans', sans-serif;
    background: rgb(216, 226, 241);
    padding: 20px;
    margin: 0 -3em;
    z-index: 1;
    opacity: .7;
    position: absolute;
    top: 15%;
    left: 50%;
    /* border-image-width: auto;
    border-image: url(images/cloud.jpg) 20% round; */
}

#sunriseVideo {
    width: 100%;
}
    

.video-container {
    width: 100%;
    position: absolute;
    top: 12%;
    margin: auto;
    z-index: -10;

}


.content-boxes {
    
    z-index: 2;
    margin: 0 10em 0 10em;
    background: rgba(7, 21, 41, 0.8);
    padding: 5px 20px;
    color: white;
    box-shadow: -5px 8px black;
    
}

.box-container {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 35em;
    z-index: 1;

}

.pictures-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 0;
    width: 100%;
    justify-content: space-evenly;
}
.picture-container {
    position: relative;
    display: flex;
    width: 15%;
    margin: auto;
    padding: 3em 8em;
    z-index: 2;
  }
  
  .avatarImage {
    display: block;
    width: 12em;
    z-index: 4;
  }
  
  
  .overlay {
    display: block;
    position: absolute;
    bottom: 3em;
    height: 12em;
    width: 12em;
    z-index: 0;
    background-color: #008CBA;
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 15px;
    position: absolute;
    overflow: hidden;
    width: 9em;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 1;
  }

footer {
    position: absolute;
   
    color: black;
    font-size: 20px;
    left: 50%;
    margin: 1em 1em;
    
}


@media(max-width: 700px) {
    .title {
        font-size: 2rem;
        position: absolute;
        top: 24%;
        left: 50%;
    }
    .section {
        width: 100%;
        height: 100vh;
    }
   
    .video-container {
        position: absolute;
        width: 100%;
        top: 0em;
        left: -18em;
    }
    .box-container {
        display: flex;
        flex-direction: column;
    }

    nav {
        position: fixed;
        display: flex;
        top: 10%;
        left: 50%;
        z-index: 2;
    }
}