body {
    margin: 0 auto;
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 3;
   
    
}
header {
    
    padding: .5em 0em;
    border: 2px solid black;
    display: flex;
    background: rgba(17, 22, 88, 0.253);
}
a:active {
    background-color: white;
    color: black;

}
 
a:hover {
    transform: scale(1.25);
}
a {
    border: 1px solid black;
    border-radius: 50px;
    padding: 20px;
    color: white;
    text-decoration: none;
    transition: transform 1s;

}
.wordBlue {
    color:blue;
}

.wordGreen {
    color:green;
}

/* video {
    height: 100vh;
    width: 100%;
} */

.section {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    z-index: -1;
    
}

.title {
    text-align: center;
    font-size: 6rem;
    font-family: 'Josefin Sans', sans-serif;
    background: rgba(255, 255, 255, 0.377);
    padding: 20px;
    margin: 0 -3em;
    z-index: 1;
    opacity: .7;
    position: absolute;
    top: 16%;
    left: 45%;
}

.video-container {
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: -1;
}

.color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: lightblue;
    width: 100%;
    height: 100%;
    opacity: .5;
    z-index: 0;
}

.content-boxes {
    
    z-index: 2;
    margin: 1em;
    background: rgba(7, 21, 41, 0.8);
    padding: 5px 20px;
    color: white;
    box-shadow: -5px 8px black;
    
}

.box-container {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 35em;
    z-index: 1;

}

footer {
    position: absolute;
    bottom: -4%;
    color: black;
    font-size: 20px;
    left: 50%;
    margin: 1em 1em;
    
}


@media(max-width: 700px) {
    .title {
        font-size: 2rem;
        position: absolute;
        top: 24%;
        left: 50%;
    }
    .section {
        width: 100%;
        height: 100vh;
    }
   
    .video-container {
        position: absolute;
        width: 100%;
        top: 0em;
        left: -18em;
    }
    .box-container {
        display: flex;
        flex-direction: column;
    }

    nav {
        position: fixed;
        display: flex;
        top: 10%;
        left: 50%;
        z-index: 2;
    }
}